.populaire{
    position: relative;
    background: url("../../assets/images/Rectangle_75.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 190px;
    &-title{
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 37px;
        line-height: 57px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 30px;
        &::before{
            content: "";
            display: inline-block;
            margin-right: 15px;
            width: 7px;
            height: 28px;
            background: #E20036;
        }
    }
    &-arrows{
        .arrow-left{
            position: absolute;
            top: 17%;
            right: 15%;
            width: 20px;
            height: 15px;
            background: url("../../assets/images/left.svg");
            background-repeat: no-repeat;
            cursor: pointer;
        }
        .arrow-right{
            position: absolute;
            top: 17%;
            right: 12%;
            width: 21px;
            height: 15px;
            background: url("../../assets/images/right.svg");
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
    &-block{
        .thumbnail{
            position: relative;
            img{
                width: 100%;
                height: 220px;
                object-fit: cover;
            }
            .play{
                background: url("../../assets/images/play-button.svg");
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 46px;
                height: 46px;
                background-repeat: no-repeat;
            }
        }
        .details{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h5{
                font-family: 'Roboto Condensed';
                font-weight: 700;
                font-size: 13px;
                line-height: 63px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
            }
            .view{
                font-family: 'Roboto Condensed';
                font-weight: 700;
                font-size: 9px;
                line-height: 15px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
                margin-right: 8px;
                &::before{
                    content: "";
                    display: inline-block;
                    margin-right: 8px;
                    width: 15px;
                    height: 13px;
                    background: #E20036;
                    background: url(../../assets/images/eye.svg);
                    background-repeat: no-repeat;
                }
            }
            .duration{
                font-family: 'Roboto Condensed';
                font-weight: 700;
                font-size: 9px;
                line-height: 63px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
                &::before{
                    content: "";
                    display: inline-block;
                    margin-right: 8px;
                    width: 1px;
                    height: 12px;
                    background: #E20036;
                }
            }
        }
        p{
            font-family: 'Roboto Condensed';
            font-weight: 400;
            font-size: 10px;
            line-height: 19px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
        }
        button{
            font-family: 'Roboto Condensed';
            font-weight: 700;
            font-size: 10px;
            letter-spacing: 0.07em;
            color: #FFFFFF;
            border-bottom: 1px solid red;
            padding-bottom: 3px;
            &::before{
                content: "";
                display: inline-block;
                margin-right: 8px;
                width: 7px;
                height: 7px;
                background: #E20036;
                background: url(../../assets/images/play-button.svg);
                background-repeat: no-repeat;
            }
        }
    }
}


@media screen and (max-width: 900px) {
    .populaire{
        padding: 60px 20px;
    }
}
