<div class="header">
    <div class="header-logo">
        <img src="../../assets/images/Bealivr.png" alt="">
    </div>
    <!--<input class="menu-btn" type="checkbox" id="menu-btn">-->
    <!--<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>-->
    <div class="header-links">
        <ul>
            <li class="active"><a href="#">Accueil</a></li>
            <li><a href="#">Entrainement</a></li>
            <li><a href="#">Shops</a></li>
            <li><a href="#">Nutritions</a></li>
            <li><a href="#">L'univers Bealivr</a></li>
            <li><a href="#">Contact</a></li>
            <li><a><i class="icon icon-small icon-search"></i></a></li>
            <li><a><i class="icon icon-small icon-account"></i></a></li>
            <li><a href="#"><i class="icon icon-small icon-bag"><span class="item-count">0</span></i></a></li>
            <li><a href="#"><button class="button">commencer ici</button></a></li>
        </ul>
    </div>
</div> 