<div class="footer">
    <div class="grid grid-cols-1 sm:grid-cols-4 gap-10">
        <div class="Bealivr">
            <img class="Bealivr-logo" src="../../assets/images/Bealivr.png">
            <p class="Bealivr-description">Complète ta pratique sportive par nos nombreuses vidéos bien-être. nos coaches spécialisés te feront le plus grand bien.</p>
            <ul class="Bealivr-social">
                <li><span class="instagram"></span></li>
                <li><span class="linkedin"></span></li>
                <li><span class="facebook"></span></li>
            </ul>
        </div>
        <div class="Explore">
            <h5 class="Explore-title">Explore</h5>
            <ul class="Explore-link">
                <li>Accueil</li>
                <li>Nouveau</li>
                <li>Esthetique</li>
                <li>Performance</li>
                <li>Nutrition</li>
            </ul>
        </div>
        <div class="Compagnie">
            <h5 class="Compagnie-title">Compagnie</h5>
            <ul class="Compagnie-link">
                <li>Mentions légales</li>
                <li>Politique de confidentialité</li>
                <li>Contactez-nous</li>
                <li>FAQ</li>
            </ul>
            <button class="Compagnie-button">coach-blavier.com</button>
        </div>
        <div class="Abonnement">
            <h6 class="Abonnement-title">Abonnement à la newsletter</h6>
            <p class="Abonnement-paragraph">Soyez les premiers informés de nos nouveautés et offres exclusives.</p>
            <form class="Abonnement-form" action=""><input type="text" placeholder="Entrez votre e-mail"><button class="Abonnement-sub">s'abonner</button></form>
        </div>
    </div>    
</div>

<div class="Copyright"> Copyright 2021 Bealivr All Rights Reserved.</div>
