<section class="blog">
    <h1 class="blog-title">enrichissez vos connaissances sur le blog</h1>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-10">
        <div class="blog-block">
            <div class="thumbnail">
                <img src="../../assets/images/Rectangle 84.png" alt="">
                <span class="play"></span>
            </div>
            <div class="details">
                <h5>
                    Prise de muscle
                </h5>
                <div>
                    <span class="view">
                        305 Views
                    </span>
                    <span class="duration">
                        1h25min
                    </span> 
                </div>
            </div>
            <p>Complète ta pratique sportive par nos nombreuses vidéos bien-être.feront le plus grand bien.</p>
            <button>
                Play Now
            </button>
        </div>
        <div class="blog-block">
            <div class="thumbnail">
                <img src="../../assets/images/Rectangle 85.png" alt="">
                <span class="play"></span>
            </div>
            <div class="details">
                <h5>
                    Prise de muscle
                </h5>
                <div>
                    <span class="view">
                        305 Views
                    </span>
                    <span class="duration">
                        1h25min
                    </span> 
                </div>
            </div>
            <p>Complète ta pratique sportive par nos nombreuses vidéos bien-être.feront le plus grand bien.</p>
            <button>
                Play Now
            </button>
        </div>
        <div class="blog-block">
            <div class="thumbnail">
                <img src="../../assets/images/Rectangle 83.png" alt="">
                <span class="play"></span>
            </div>
            <div class="details">
                <h5>
                    Prise de muscle
                </h5>
                <div>
                    <span class="view">
                        305 Views
                    </span>
                    <span class="duration">
                        1h25min
                    </span> 
                </div>
            </div>
            <p>Complète ta pratique sportive par nos nombreuses vidéos bien-être.feront le plus grand bien.</p>
            <button>
                Play Now
            </button>
        </div>
        <button class="blog-button">Continuez votre lecture sur le Blog</button>
    </div>
</section>