<section class="hero">
    <div class="hero-block">
            <h3 class="hero-block-title">prends soin de toi <span>video</span></h3>
            <p class="hero-block-paragraph">
                Complète ta pratique sportive par nos nombreuses vidéos bien-être. 
                nos coaches spécialisés te feront le plus grand bien.
            </p>
            <div class="hero-block-details">
                <span class="time">5 Days</span>
                <span class="view">305 Views</span>
            </div>
            <button class="hero-block-button">Watch now</button>
    </div>
    <div class="hero-select">
        <div class="hero-select-show">
            <ul>
                <li><a href=""><i class="dot"></i></a></li>
                <li><a href=""><i class="dot"></i></a></li>
                <li><a href=""><i class="dot-active"></i></a></li>
            </ul>
        </div>
        <div class="hero-select-arrows">
            <ul>
                <li><a href=""><i class="icon icon-center-sm icon-small icon-left-arrow"></i></a></li>
                <li><a href="" class="number-active">01</a></li>
                <li><a href="" class="number">02</a></li>
                <li><a href="" class="number">03</a></li>
                <li><a href=""><i class="icon icon-center-sm icon-small icon-right-arrow"></i></a></li>
            </ul>
        </div>
    </div>
</section>