<section class="parcours">
    <div class="parcours-images">
        <ul>
            <li>
                <a href="#" class="pt-1">
                    <img class="image1" src="../../assets/images/Rectangle_90.png">
                    <div>
                        <span>12 semaine</span>
                        <h3>Full body</h3>
                    </div>
                </a>
            </li>
            <li><a href="#" class="pt-2">
                <img class="image2" src="../../assets/images/Rectangle_114.png">
                <div>
                    <span>12 semaine</span>
                    <h3>Full body</h3>
                </div>
                </a>
            </li>
            <li><a href="#" class="pt-3">
                <img class="image3" src="../../assets/images/Rectangle_113.png">
                <div>
                    <span>12 semaine</span>
                    <h3>Full body</h3>
                </div>
                </a>
            </li>
            <li><a href="#" class="pt-4">
                <img class="image4" src="../../assets/images/Rectangle_89.png">
                <div>
                    <span>12 semaine</span>
                    <h3>Full body</h3>
                </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="parcours-details">
        <h2 class="title">12 semaines d'entraînement planifiées spécifiquement pour votre objectif</h2>
        <p class="description">Votre Coach analyse votre niveau de forme physique 
            et vos objectifs pour vous mettre sur la voie de la réussite forme physique.</p>
        <div class="parcours-details__button">
            <button class="button1">Choisir votre parcours</button>
            <button class="button2">Voir commenr ça fonctionne</button>
        </div>
    </div>
</section>